body{
  background:  #17181f;
  color:white;
}

/* form */
*{
  box-sizing: border-box;
}
main{
  max-width: 300px;
  margin: 20px auto;
}
form{
  border: 4px solid #30313d;
  border-radius: 10px;
  padding: 5px;
  display: flex;
}
form input[type='text'] {
  background: none;
  border: 0;
  padding:0 8px;
  display: block;
  width:100% ;
  color: pink;
}

form button {
  background-color:#ffc0cb; 
  border:0;
  border-radius: 6px;
  cursor: pointer;
}
/* 04383F */
div .task{
  background-color: #30313d;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display:flex;
  align-items: center;
  transition: opacity .3s linear;
}

div .task svg{
  height: 20px;
  margin-right: 6px;
  fill:#ffc0cb;
}
div .task.done {
  opacity: 0.3;

}
div.task-name , div.task form{
  flex-grow: 1;
  font-family: "Anta", sans-serif;
}
button.remove{
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
}
button.remove svg{
  fill: #aaa;
  height:14px ;
}
div.task span{
  position: relative;

}

div.task span:before{
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 10px;
}
div.task.done span:before{
  width: 100%;
}
div.checkbox{
  display: flex;
  align-items: center;
}
h1 ,h2{
  text-align: center;
  color: pink;
  font-family: "Anta", sans-serif;
}

div.task input{
  border: 2px solid pink;
  border-radius: 6px;
  padding: 2px 4px;
  
}